<template name="inputForm">
  <form>
    <div class="row">
      <div class="col-md-6">
        <textarea class="form-control" rows="12" id="left-input" ></textarea>
      </div>
      <div class="col-md-6">
       <textarea class="form-control" rows="12" id="right-input" ></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <input type="text" class="form-control" id="prefix-key" placeholder="first_key.second_key.third_key">
    </div>
    <div class="col-md-12" style="text-align:center">
      <select class="form-control framework-select btn btn-default">
        <option value="rails">Rails</option>
        <option value="meteor">Meteor</option>
      </select>
      <button type="submit" class="btn btn-success go-button">Go</button>
      <div class="has-success">
        <div class="checkbox">
          <label>
            <input type="checkbox" id = "html-safe-status" value="true">
            yml with html_safe
          </label>
        </div>
      </div>
    </div>
  </form>
  <p></p>
  <div class="list-group text-center" >
  <h4 class="list-group-item-heading"></h4>
  <p class="list-group-item-text">Input Your multilanduage html and get a i18n processed one</p>
  <img src="/intro.gif">
</div>
</template>