.grid-block, .main{
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666; }

.text-center
{
  text-align: center;
}

#main {
  position: relative;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }


.go-button{
  margin: 5px;
  padding: 0px 0px;
  width: 70px;
  height: 34px;
}

.framework-select{
  margin: 0px;
  padding: 0px 0px;
  width: 70px;
  height: 35px;
}

#spinner {
  height: 300px; }

